extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(href="stylesheets/carousel.css", rel='stylesheet')

block body  
    script.
        window.fbAsyncInit = function() {
        // FB JavaScript SDK configuration and setup
        FB.init({
        appId      : '366232107105609', // FB App ID
        cookie     : true,  // enable cookies to allow the server to access the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
        });
        // Check whether the user already logged in
        FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
        //display user data
        getFbUserData();
        }
        });
        };
        // Load the JavaScript SDK asynchronously
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        // Facebook login with JavaScript SDK
        function fbLogin() {
        FB.login(function (response) {
        if (response.authResponse) {
        // Get and display the user profile data
        getFbUserData();
        } else {
        //document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
        }
        }, {scope: 'email'});
        }
        // Fetch the user profile data from facebook
        function getFbUserData(){
        FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
        function (response) {
        $('#userName p').text('Welcome back, ' + response.first_name);
        document.getElementById('fbLink').setAttribute("onclick","fbLogout()");
        document.getElementById('fbLink').innerHTML = '<img src="'+response.picture.data.url+'"/>';
        // document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
        // document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> '+response.id+'</p><p><b>Name:</b> '+response.first_name+' '+response.last_name+'</p><p><b>Email:</b> '+response.email+'</p><p><b>Gender:</b> '+response.gender+'</p><p><b>Locale:</b> '+response.locale+'</p><p><b>Picture:</b> <img src="'+response.picture.data.url+'"/></p><p><b>FB Profile:</b> <a target="_blank" href="'+response.link+'">click to view profile</a></p>';
        saveUserData(response);
        });
        }
        // Logout from facebook
        function fbLogout() {
        FB.logout(function() {
        $('#userName p').text('');
        document.getElementById('fbLink').setAttribute("onclick","fbLogin()");
        document.getElementById('fbLink').innerHTML = '<img src="images/fblogin.png"/>';
        // document.getElementById('userData').innerHTML = '';
        //document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
        });
        }
        function saveUserData(userData) {
        console.log(JSON.stringify(userData));
        $.post('userData', {oauth_provider:'facebook',userData: JSON.stringify(userData)}, function(data){ return true; });
        }

        //#status
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') CIS 550 Team 33
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-center
                    li
                        a(href='/') Home
                    li
                        a(href='/team') Team
                    li
                        a(href='/searchplayer') Player
                    li
                        a(href='/map') Map
                    li
                        a(href='/others') Other 
                ul.nav.navbar-nav.navbar-right
                    a#fbLink(href='javascript:void(0);', onclick='fbLogin()')
                        img(src='images/fblogin.png',width='50',height='50')
                    a(href='/tweets')
                        img(src='images/Twitterlogo.png',width='50',height='50')
                ul.nav.navbar-nav.navbar-right
                .col-sm-3
                    script.
                        (function(){var cx='015845453989391342852:jfp6qvukvwa';var gcse=document.createElement('script');gcse.type='text/javascript';gcse.async=true;gcse.src='https://cse.google.com/cse.js?cx='+cx;var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gcse,s);})();
                    gcse:search
                ul.nav.navbar-nav.navbar-right
                    #userName 
                        br
                        p 

    hr.featurette-divider
    .main-content
        block content